--
-- PostgreSQL database dump
--

\restrict 9w6Pv6wjLOkHp5oS5orAK8qbbv9LLwNylbxNx99bydO7ilJVinh3DzDm16d4caP

-- Dumped from database version 13.23
-- Dumped by pg_dump version 13.23

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: banks; Type: SCHEMA; Schema: -; Owner: postgres
--

CREATE SCHEMA banks;


ALTER SCHEMA banks OWNER TO postgres;

--
-- Name: SCHEMA banks; Type: COMMENT; Schema: -; Owner: postgres
--

COMMENT ON SCHEMA banks IS 'This is a table where I will store information about the banks';


SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: banks; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.banks (
    bank_id character varying(50) NOT NULL,
    bank_name character varying(50) NOT NULL,
    app_name character varying(100) NOT NULL
);


ALTER TABLE public.banks OWNER TO postgres;

--
-- Name: negative_reviews_with_themes; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.negative_reviews_with_themes (
    review_id integer NOT NULL,
    bank_id character varying(50),
    review_text text,
    rating integer,
    review_date date,
    bank_name character varying(50),
    bank_code character varying(50),
    source character varying(50),
    sentiment_label character varying(20),
    sentiment_score double precision,
    sentiment_group character varying(20),
    cleaned_text text,
    keywords text,
    theme character varying(100)
);


ALTER TABLE public.negative_reviews_with_themes OWNER TO postgres;

--
-- Name: negative_reviews_with_themes_review_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.negative_reviews_with_themes_review_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.negative_reviews_with_themes_review_id_seq OWNER TO postgres;

--
-- Name: negative_reviews_with_themes_review_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.negative_reviews_with_themes_review_id_seq OWNED BY public.negative_reviews_with_themes.review_id;


--
-- Name: positive_reviews_with_themes; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.positive_reviews_with_themes (
    review_id integer NOT NULL,
    bank_id character varying(50),
    review_text text,
    rating integer,
    review_date date,
    bank_name character varying(50),
    bank_code character varying(50),
    source character varying(50),
    sentiment_label character varying(20),
    sentiment_score double precision,
    sentiment_group character varying(20),
    cleaned_text text,
    keywords text,
    theme character varying(100)
);


ALTER TABLE public.positive_reviews_with_themes OWNER TO postgres;

--
-- Name: positive_reviews_with_themes_review_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.positive_reviews_with_themes_review_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.positive_reviews_with_themes_review_id_seq OWNER TO postgres;

--
-- Name: positive_reviews_with_themes_review_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.positive_reviews_with_themes_review_id_seq OWNED BY public.positive_reviews_with_themes.review_id;


--
-- Name: negative_reviews_with_themes review_id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.negative_reviews_with_themes ALTER COLUMN review_id SET DEFAULT nextval('public.negative_reviews_with_themes_review_id_seq'::regclass);


--
-- Name: positive_reviews_with_themes review_id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.positive_reviews_with_themes ALTER COLUMN review_id SET DEFAULT nextval('public.positive_reviews_with_themes_review_id_seq'::regclass);


--
-- Name: banks banks_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.banks
    ADD CONSTRAINT banks_pkey PRIMARY KEY (bank_id);


--
-- Name: negative_reviews_with_themes negative_reviews_with_themes_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.negative_reviews_with_themes
    ADD CONSTRAINT negative_reviews_with_themes_pkey PRIMARY KEY (review_id);


--
-- Name: positive_reviews_with_themes positive_reviews_with_themes_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.positive_reviews_with_themes
    ADD CONSTRAINT positive_reviews_with_themes_pkey PRIMARY KEY (review_id);


--
-- PostgreSQL database dump complete
--

\unrestrict 9w6Pv6wjLOkHp5oS5orAK8qbbv9LLwNylbxNx99bydO7ilJVinh3DzDm16d4caP

